<div class="container">
  <div class="row">
     <%= render 'books/info', user: @user , book: @book %>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table table-hover table-inverse">
       <thead>
        <tr>
          <th><strong>image</strong></th>
          <th><strong>name</strong></th>
          <th colspan="3"></th>
        </tr>
       </thead>
       <tbody>
         <% @users.each do |user| %>
         <tr>
          <th><%= attachment_image_tag user, :profile_image, :fill,40,40, size: "40x40", format: 'jpeg', fallback: "no_image.jpg" %></th>
          <th><%= user.name %></th>
          <th><%= link_to"Show",user_path(user) %></th>
          <th></th>
        </tr>
         <% end %>
       </tbody>
      </table>
    </div>
  </div>
</div>


